[Unit]
Description=SCION Timeservice Server
After=network-online.target
Wants=network-online.target

[Service]
WorkingDirectory=/home/ec2-user/testnet
ExecStartPre=timedatectl set-ntp false
ExecStart=/home/ec2-user/scion-time/timeservice server -verbose -config server.toml
Restart=on-failure

[Install]
WantedBy=multi-user.target
